@import 'bootstrap';
@import 'customnavbar';
@import 'admin';


h1 {
  color: gainsboro;
}

// Variables
$ccBlue: #255AA8;
$ccYellow: #FFC600;

.rescueTable {
  z-index: 500;
  width: 100%;
}

#logo {
  max-width: 140px;
  height: auto;
  width: auto;
  padding: 30px;
}

#loginLogo {
  margin-top: 40px;
  display: block;
  margin: auto;
  width: 30%;
}

.wrapper {
    text-align: center;
}

.button {
    position: absolute;
    top: 50%;
}

#navStyle { //start main nav style
  background: $ccBlue;
  ul{
    width: 100%;
    list-style-type:none;
  }
  li{
    float:left;
    width: 30%;
  }
  a{
    color: $ccYellow;
    text-decoration: none;
    padding: 16px;
    display: block;
    text-align: center;
  }
  .dropbtn{
      background-color: $ccBlue;
      color: white;
      padding: 16px;
      font-size: 16px;
      border: none;
      cursor: pointer;
  }
  .dropdown{
      z-index: 1000;
      position: relative;
      display: inline-block;
  }
  .dropdown-content{
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 160px;
      border-radius: 10px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      -webkit-animation: fadein .4s; /* Safari, Chrome and Opera > 12.1 */
         -moz-animation: fadein .4s; /* Firefox < 16 */
          -ms-animation: fadein .4s; /* Internet Explorer */
              animation: fadein .4s;
  }
  .dropdown-content a{
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
  }
  .dropdown-content a:hover{
    background-color: #f1f1f1;
    border-radius: 10px;
  }
  .dropdown:hover .dropdown-content{
      display: block;
  }
  .dropdown:hover .dropbtn{
      background-color: $ccBlue;
  }

  @keyframes fadein {
      from { opacity: 0; }
      to   { opacity: 1; }
  }

  /* Firefox < 16 */
  @-moz-keyframes fadein {
      from { opacity: 0; }
      to   { opacity: 1; }
  }

  /* Safari, Chrome and Opera > 12.1 */
  @-webkit-keyframes fadein {
      from { opacity: 0; }
      to   { opacity: 1; }
  }
} // END MAIN NAV

#navStyle ul:after{
  content:"";
  display: block;
  clear: both;
}

#logOutButton {
position: absolute;
right: 0px;
margin: 30px;
}

input {
  padding: 10px;
  border: none;
  border-bottom: solid 2px #c9c9c9;
  transition: border 0.3s;
}

input:focus,
input.focus {
  border-bottom: solid 2px #969696;
}

.foodRescue {
  padding: 20px;
}

.rescueTable { //basic table styles
  background-color: $ccBlue;
  max-width: 500px;
  margin: 20px;
  input{
    width: 70px;
    color: black;
  }
  select{
    color: black;
  }
  table {
    table-layout: fixed;
    width: 100%;
  }
  table.center {
  margin-left:auto;
  margin-right:auto;
  }
  th{
    color: $ccYellow;
    text-decoration: underline;
  }
  td{
    color: white;
  }
  th,td {
    padding: 5px;
    word-wrap: break-word;
  }
  button {
    color: black;
  }
} //end table styles

// .rescueForm {
//   background-color: $ccBlue;
//   th{
//     text-align: center;
//     color: white;
//   }
//   td{
//     padding: 10px;
//   }
//
// }
