@import 'bootstrap';
@import 'customnavbar';
@import 'admin';


h1 {
  color: gainsboro;
}

// Variables
$ccBlue: #255AA8;
$ccYellow: #FFC600;

.rescueTable {
  z-index: 500;
  width: 100%;
}

#logo {
  max-width: 140px;
  height: auto;
  width: auto;
  padding: 30px;
}

#loginLogo {
  margin-top: 40px;
  display: block;
  margin: auto;
  width: 30%;
}

.wrapper {
    text-align: center;
}

.button {
    position: absolute;
    top: 50%;
}

// input {
//   padding: 10px;
//   border: none;
//   border-bottom: solid 2px #c9c9c9;
//   transition: border 0.3s;
// }
//
// input:focus,
// input.focus {
//   border-bottom: solid 2px #969696;
// }

.foodRescue {
  padding: 20px;
}

// .rescueTable { //basic table styles
//   background-color: $ccBlue;
//   max-width: 500px;
//   margin: 20px;
//   input{
//     width: 70px;
//     color: black;
//   }
//   select{
//     color: black;
//   }
//   table {
//     table-layout: fixed;
//     width: 100%;
//   }
//   table.center {
//   margin-left:auto;
//   margin-right:auto;
//   }
//   th{
//     color: $ccYellow;
//     text-decoration: underline;
//   }
//   td{
//     color: white;
//   }
//   th,td {
//     padding: 5px;
//     word-wrap: break-word;
//   }
//   button {
//     color: black;
//   }
// } //end table styles

.rescueForm {
  background-color: $ccBlue;
}

#loader { // BEGIN LOADER TEMPLATE
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 }
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom {
  from{ bottom:-100px; opacity:0 }
  to{ bottom:0; opacity:1 }
}

#myDiv {
  display: none;
  text-align: center;
} // END LOADER TEMPLATE

//NO MOAR NUMBER SPINNERS
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}//END NO MOAR NUMBER SPINNERS

input[type=date]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    display: none;
}// remove arrows on date input

// .accentImage {
//   background-image: url("/resources/background.png");
//   background-repeat: no-repeat;
// }

.accentImage {
    position: relative;
}
.accentImage img {
    position: absolute;
    top: 0px;
    left: -30px;
    height: 50px;
}

.table {
  color: black;
  border-collapse: collapse;
}

.tableForms {
  background-color: magenta
}

.add-form {
  color: $ccYellow;
  border-top: none;
  border-bottom: none;
  background-color: $ccBlue;
  th, td, tr {
    border: none !important;
    text-align: center;
  }
}

.form-card {
  background-color: $ccYellow;
  padding: 15px;
  color: $ccBlue;
  border-top-left-radius: 11px;
  border-top-right-radius: 11px;
  input {
    -webkit-appearance:none
  }
  th, td, tr {
    border: none !important;
    text-align: center;
  }
}
