@import 'bootstrap';
@import 'customnavbar';
@import 'admin';


h1 {
  color: gainsboro;
}

// Variables
$ccBlue: #255AA8;
$ccYellow: #FFC600;

.rescueTable {
  z-index: 500;
  width: 100%;
}

#logo {
  max-width: 140px;
  height: auto;
  width: auto;
  padding: 30px;
}

#loginLogo {
  margin-top: 40px;
  display: block;
  margin: auto;
  width: 30%;
}

.wrapper {
    text-align: center;
}

.button {
    position: absolute;
    top: 50%;
}

input {
  padding: 10px;
  border: none;
  border-bottom: solid 2px #c9c9c9;
  transition: border 0.3s;
}

input:focus,
input.focus {
  border-bottom: solid 2px #969696;
}

.foodRescue {
  padding: 20px;
}

.rescueTable { //basic table styles
  background-color: $ccBlue;
  max-width: 500px;
  margin: 20px;
  input{
    width: 70px;
    color: black;
  }
  select{
    color: black;
  }
  table {
    table-layout: fixed;
    width: 100%;
  }
  table.center {
  margin-left:auto;
  margin-right:auto;
  }
  th{
    color: $ccYellow;
    text-decoration: underline;
  }
  td{
    color: white;
  }
  th,td {
    padding: 5px;
    word-wrap: break-word;
  }
  button {
    color: black;
  }
} //end table styles

// .rescueForm {
//   background-color: $ccBlue;
//   th{
//     text-align: center;
//     color: white;
//   }
//   td{
//     padding: 10px;
//   }
//
// }
