<div class="container">
<h2>Food Drive</h2>

<table class="driveTable">
    <thead>
      <tr>
        <th>Date</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Address</th>
        <th>City</th>
        <th>State</th>
        <th>Zip</th>
        <th>Email</th>
        <th>Telephone</th>
        <th>Organization</th>
        <th ng-repeat="category in fdc.driveCategories.list | filter: {food_drive: true}">{{category.name}}</th>
      </tr>
    </thead>
    <tbody>

      <!-- Add User -->
      <tr>
          <td>
          <input class="form-control" type="date" ng-model="fdc.newDonation.timestamp">
        </td>
        <td>
          <input class="form-control" type="text" ng-model="fdc.newDonation.first_name">
        </td>
        <td>
            <input class="form-control" type="text" ng-model="fdc.newDonation.last_name">
        </td>
        <td>
            <input class="form-control" type="text" ng-model="fdc.newDonation.address">
        </td>
        <td>
          <input class="form-control" type="text" ng-model="fdc.newDonation.city">
        </td>
        <td>
          <input class="form-control" type="text" ng-model="fdc.newDonation.state">
        </td>
        <td>
          <input class="form-control" type="number" ng-model="fdc.newDonation.postal_code">
        </td>
         <td>
          <input class="form-control" type="email" ng-model="fdc.newDonation.email">
        </td>
        <td>
          <input class="form-control" type="number" ng-model="fdc.newDonation.telephone">
        </td>
        <td>
          <input class="form-control" type="text" ng-model="fdc.newDonation.org_name">
        </td>
        <td ng-repeat="category in fdc.driveCategories.list | filter: {food_drive: true}">
          <input class="form-control" type="number" ng-model="fdc.newDonation.categories[category.id]">
        </td>
        <td>
          <button
            type="button"
            class="btn btn-success"
            ng-click="fdc.submitDonation()">
            <add-glyph boolean="fdc.newDonation.saving"></add-glyph>
          </button>
        </td>
      </tr>

      <tr ng-repeat="donation in fdc.driveDonations.list | orderBy:'-timestamp' | filter: {food_drive: true}">
           <!-- Date of Donation -->
        <td>
          <span class="form-control" disabled ng-if="!donation.editable">{{donation.date | date: 'MM/dd/yyyy'}}</span>
          <span ng-if="donation.editable">
            <input class="form-control" type="date" ng-model="donation.date | date: 'MM/dd/yyyy'">
          </span>
        </td>
        <!-- First Name -->
        <td>
          <span class="form-control" disabled ng-if="!donation.editable">{{donation.first_name}}</span>
          <span ng-if="donation.editable">
            <input class="form-control" type="text" ng-model="donation.first_name">
          </span>
        </td>
        <!-- Last Name -->
        <td>
          <span class="form-control" disabled ng-if="!donation.editable">{{donation.last_name}}</span>
          <span ng-if="donation.editable">
            <input class="form-control" type="text" ng-model="donation.last_name">
          </span>
        </td>
        <!-- Address -->
        <td>
          <span class="form-control" disabled ng-if="!donation.editable">{{donation.address}}</span>
          <span ng-if="donation.editable">
            <input class="form-control" type="text" ng-model="donation.address">
          </span>
        </td>
        <!-- City -->
        <td>
          <span class="form-control" disabled ng-if="!donation.editable">{{donation.city}}</span>
          <span ng-if="donation.editable">
            <input class="form-control" type="text" ng-model="donation.city">
          </span>
        </td>
        <!-- State -->
        <td>
          <span class="form-control" disabled ng-if="!donation.editable">{{donation.state}}</span>
          <span ng-if="donation.editable">
            <input class="form-control" type="text" ng-model="donation.state">
          </span>
        </td>
        <!-- Zip -->
        <td>
          <span class="form-control" disabled ng-if="!donation.editable">{{donation.postal_code}}</span>
          <span ng-if="donation.editable">
            <input class="form-control" type="number" ng-model="donation.postal_code">
          </span>
        </td>
        <!-- Email -->
        <td>
          <span class="form-control" disabled ng-if="!donation.editable">{{donation.email}}</span>
          <span ng-if="donation.editable">
            <input class="form-control" type="email" ng-model="donation.email">
          </span>
        </td>
        <!-- Telephone -->
        <td>
          <span class="form-control" disabled ng-if="!donation.editable">{{donation.telephone}}</span>
          <span ng-if="donation.editable">
            <input class="form-control" type="number" ng-model="donation.telephone">
          </span>
        </td>
        <!-- Organization Name -->
        <td>
          <span class="form-control" disabled ng-if="!donation.editable">{{donation.org_name}}</span>
          <span ng-if="donation.editable">
            <input class="form-control" type="text" ng-model="donation.org_name">
          </span>
        </td>
        <!-- Categories -->
        <td ng-repeat="category in fdc.driveCategories.list | filter: {food_drive: true}">
          <span class="form-control" disabled ng-if="!donation.editable">{{donation.categories[category.id]}}</span>
          <span ng-if="donation.editable">
            <input class="form-control" type="number" ng-model="donation.categories[category.id]">
          </span>
        </td>
        <!-- Edit -->
        <td>
          <!-- Not editable -->
          <span ng-if="!donation.editable">
            <button
                type="button"
                class="btn btn-primary"
                ng-click="fdc.toggleEditable(donation)">
              <span class="glyphicon glyphicon-pencil"></span> Edit
            </button>
            <button
              type="button"
              class="btn btn-danger"
              ng-click="fdc.deleteDonation(donation)">
              <!-- <span class="glyphicon glyphicon-trash"></span> Delete -->
              <delete-glyph boolean="donation.saving"></delete-glyph>
            </button>
          </span>
          <!-- Editable -->
          <span ng-if="donation.editable">
            <button
                type="button"
                class="btn btn-primary"
                ng-click="fdc.update(donation)">
              <save-glyph boolean="donation.saving"></save-glyph>
            </button>
            <button
                    type="button"
                    class="btn btn-default"
                    ng-click="fdc.toggleEditable(donation)">
              <span class="glyphicon glyphicon-remove"></span> Cancel
            </button>
          </span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
