<div class="foodRescue">
  <table class="rescueTable">
    <!-- TABLE HEADS -->
    <thead class="rescueForm">
    <tr>
      <th>Donor</th>
      <th>Date</th>
      <th ng-repeat="category in frc.rescueCategories.list">{{category.name}}</th>
    </tr>
    <!-- INPUTS FOR SUBMISSION -->
  <form ng-submit="" onsubmit="alert('Donation Submitted!')" >
    <tr>
      <td><select></select></td>
      <td><input type="date"/></td>
      <td ng-repeat="category in frc.rescueCategories.list"><input type="number" placeholder="# of pounds" style="max-width:60px;"></td>
      <td><input type="submit" value="Submit" class ="action-button filebtn"></input></td>
    </tr>
  </form>
 </thead>
    <!-- INPUTS TO DISPLAY DATA AND EDIT -->
  <tbody>
    <tr ng-repeat="donation in frc.rescueDonations.list">
      <td>{{donation.org_name}}</td>
      <td>{{donation.date | date: 'MM/dd/yyyy'}}</td>
      <td ng-repeat="category in frc.rescueCategories.list"><input type="text" value="{{donation.categories[category.id]}}" style="width:60px;"></td>
      <td><button>EDIT</button></td>
      <td><button>DELETE</button></td>
    </tr>
  </tbody>
  </table>
</div>
