    <form class="driveForm form-inline">
        <div class="form-group col-md-1">
            <label for="date" class="control-label">Date</label>
            <input name="date" class="form-control" ng-model="fdc.newDonation.timestamp" type="date"/>
        </div>
        <div class="form-group col-xs-1 col-md-1">
            <label for="first_name" class="control-label">First Name</label>
            <input name="first_name" class="form-control" type="text"/>
        </div>
        <div class="form-group col-xs-1 col-md-1">
            <label for="last_name" class="control-label">Last Name</label>
            <input name="last_name" class="form-control" type="text"/>        
        </div>
        <div class="form-group col-xs-1 col-md-1">
            <label for="address" class="control-label">Address</label>
            <input name="address" class="form-control" type="text"/>        
        </div>
        <div class="form-group col-xs-1 col-md-1">
            <label for="city" class="control-label">City</label>
            <input name="city" class="form-control" type="text"/>        
        </div>
        <div class="form-group col-xs-1 col-md-1">
            <label for="state" class="control-label">State</label>
            <input name="state" class="form-control" type="text"/>        
        </div>
        <div class="form-group col-xs-1 col-md-1">
            <label for="zip" class="control-label">Zip</label>
            <input name="zip" class="form-control" type="number"/>        
        </div>
        <div class="form-group col-xs-1 col-md-1">
            <label for="email" class="control-label">Email</label>
            <input name="email" class="form-control" type="email"/>        
        </div>
        <div class="form-group col-xs-1 col-md-1">
            <label for="telephone" class="control-label">Telephone</label>
            <input name="telephone" class="form-control" type="number"/>        
        </div>
        <div class="form-group col-xs-1 col-md-1">
            <label for="organization" class="control-label">Organization</label>
            <input name="organization" class="form-control" type="yext"/>        
        </div>
        <div class="form-group col-xs-1 col-md-1">
            <label for"pounds" class="control-label">Pounds</label>
            <input name="pounds" class="form-control" type="number"/>        
        </div>
        <div class="form-group col-xs-1 col-md-1">
            <label for="dollars" class="control-label">Dollars</label>
            <input name="dollars" class="form-control" type="number"/>
        </div>
    </form>

    <form class="driveDonations">  
        <div ng-repeat="donation in fdc.driveDonations.list | orderBy: '-timestamp'">
            <div class="col-md-1">
                <input class="form-control" ng-model="donation.date | date: 'MM/dd/yyyy'" type="date"/>
            </div>
            <div class="col-md-1">
                <input class="form-control" ng-model="donation.first_name" type="text"/>
            </div>
            <div class="col-md-1">                
                <input class="form-control" ng-model="donation.last_name" type="text"/> 
            </div>
            <div class="col-md-1">       
                <input class="form-control" ng-model="donation.address" type="text"/>  
            </div>
            <div class="col-md-1">       
                <input class="form-control" ng-model="donation.city" type="text"/>  
            </div>
            <div class="col-md-1">       
                <input class="form-control" ng-model="donation.state" type="text"/>   
            </div>
            <div class="col-md-1">      
                <input class="form-control" ng-model="donation.postal_code" type="number"/>    
            </div>
            <div class="col-md-1">     
                <input class="form-control" ng-model="donation.email" type="email"/>  
            </div>
            <div class="col-md-1">       
                <input class="form-control" ng-model="donation.phone_number" type="number"/> 
            </div>
            <div class="col-md-1">        
                <input class="form-control" ng-model="donation.org_name" type="yext"/>    
            </div>
            <div class="col-md-1">     
                <input class="form-control" ng-model="donation" type="number"/>   
            </div>
            <div class="col-md-1">      
                <input class="form-control" ng-model="donation" type="number"/>
            </div>
        </div>
    </form>