<div class="col-md-6 foodRescue">
  <table class="rescueTable">
    <!-- TABLE HEADS -->
    <tr>
      <th>Donor</th>
      <th>Date</th>
      <th ng-repeat="category in frc.rescueCategories.list">{{category.name}}</th>
    </tr>
    <!-- INPUTS FOR SUBMISSION -->
    <tr>
      <td><select></select></td>
      <td><input type="date" /></td>
      <td ng-repeat="category in frc.rescueCategories.list"><input type="number" placeholder="# of pounds"/></td>
      <td><button>SUBMIT</button></td>
    </tr>
    <!-- INPUTS TO DISPLAY DATA AND EDIT -->
    <tr ng-repeat="donation in frc.rescueDonations.list">
      <td ng-repeat="organization in frc.rescueDonations.list.org_name"><input type="text" value="{{organization.list.org_name}}"></td>
      <td ng-repeat="category in frc.rescueCategories.list"><input type="text" value="{{donation.city}}"></td>
      <td><button>EDIT</button></td>
      <td><button>DELETE</button></td>
    </tr>
  </table>
</div>
