<div ng-hide="fdc.gotData" class="ng-hide">
<div id="loader"></div>
</div>

<div class="container" ng-show="fdc.gotData">
  <div class="banner">
    <img src="/resources/background.png">
  </div>
  <h2>Food Drive</h2>

  <!-- FILTERS -->
  <div class = "row form-card"  ng-if="fdc.user.is_admin">
    <form name="driveForm" novalidate>
      <div class="form-group col-sm-2">
        <label>Organizations</label>
        <select
          class="form-control"
          ng-options="org.id as org.org_name for org in fdc.driveContacts.list
          | filter: {org_type: '!food_rescue'}
          | filter: {org: true}"
          ng-model="fdc.org_id">
          <option value="" ng-value="">All</option>
        </select>
      </div>

      <div class="form-group col-sm-2">
        <label>Start Date</label>
        <input class = "form-control" type="date" ng-model="daterange.start">
      </div>

      <div class="form-group col-sm-2">
        <label>End Date</label>
        <input class = "form-control" type="date" ng-model="daterange.end">
      </div>

      <div class="form-group col-sm-4">
        <label>Search</label>
        <input class="form-control" type="search" ng-model="fdc.search">
      </div>
    </form>

    <div class="form-group col-sm-2 admin-button">
      <button
        type="button"
        class="btn btn-primary form-control"
        ng-click="fdc.getCsv()">
        Download<span class="hidden-sm hidden-md"> as CSV</span>
      </button>
    </div>
  </div>

  <!-- NEW LAYOUT, ENTER FORM -->
  <div class = "form-card row">
    <form name="foodDrive" novalidate>
    <div class = "col-sm-4">
      <label>Date</label>
      <input class="form-control" type="date" ng-model="fdc.newDonation.timestamp" required>
    </div>

    <div class = "col-sm-4">
      <label>First Name</label>
      <input class="form-control" type="text" ng-model="fdc.newDonation.first_name">
    </div>

    <div class = "col-sm-4">
      <label>Last Name</label>
      <input class="form-control" type="text" ng-model="fdc.newDonation.last_name">
    </div>

    <div class = "col-sm-4">
      <label>Address</label>
      <input class="form-control" type="text" ng-model="fdc.newDonation.address">
    </div>

    <div class = "col-sm-2">
      <label>City</label>
      <input class="form-control" type="text" ng-model="fdc.newDonation.city">
    </div>

    <div class = "col-sm-1">
      <label>State</label>
      <input class="form-control" type="text" ng-model="fdc.newDonation.state" maxlength="2">
    </div>

    <div class = "col-sm-1">
      <label>Zip</label>
      <input class="form-control" type="text" ng-model="fdc.newDonation.postal_code">
    </div>

    <div class = "col-sm-2">
      <label>Email</label>
      <input class="form-control" type="text" ng-model="fdc.newDonation.email">
    </div>

    <div class = "col-sm-2">
      <label>Telephone</label>
      <input class="form-control" type="text" ng-model="fdc.newDonation.phone_number">
    </div>

    <div class = "col-sm-2">
      <label>Organization</label>
      <input class="form-control" type="text" ng-model="fdc.newDonation.org_name">
    </div>

  <ng-form name="categoryFields">
    <div class = "col-sm-2"
      ng-repeat="category in fdc.driveCategories.list | filter: {food_drive: true}"
      ng-class="{ 'has-error' : categoryFields.$invalid && categoryFields.$dirty }">

        <label>{{category.name}}</label>
        <input
          class="form-control"
          type="number"
          ng-model="fdc.newDonation.categories[category.id]"
          ng-required="fdc.valueCheck()">
    </div>
    <div class = "col-sm-4" ng-class="{ 'has-error' : categoryFields.$invalid && categoryFields.$dirty }">
      <label></label>
      <p class="help-block" ng-show="categoryFields.$invalid && categoryFields.$dirty">*Amount Required for One Category</p>
    </div>
  </ng-form>


    <div class="col-sm-1 align-button">
      <button
        type="button"
        class="btn btn-success form-control"
        ng-click="fdc.submitDonation()"
        ng-disabled="foodDrive.$invalid">
        <add-glyph boolean="fdc.newDonation.saving"></add-glyph>
      </button>
    </div>
  </form>
  </div>
  <!-- ENTER FORM DONE -->

  <!-- New Donation -->
  <div class = "row">
    <div class = "col-sm-12">
      <table wt-responsive-table class = "table-control table">
        <thead class="table-header">
          <tr class="add-form">
            <th>Date</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Address</th>
            <th>City</th>
            <th>State</th>
            <!-- <th>Zip</th> -->
            <!-- <th>Email</th> -->
            <th>Telephone</th>
            <th>Organization</th>
            <th
              ng-repeat="category in fdc.driveCategories.list | filter: {food_drive: true}">
              {{category.name}}
            </th>
            <th></th>
          </tr>
        </thead>
        <tbody>
        <!-- List Donations -->
          <tr ng-repeat="donation in (filtered = (fdc.driveDonations.list
            | orderBy:'-timestamp'
            | filter: {org_type: '!food_rescue'}
            | filter: {donor: true}
            | filter: {id: fdc.org_id||undefined}:true
            | filter: fdc.search
            | dateRange:'timestamp':daterange.start:daterange.end))">
              <!-- Date of Donation -->
            <td>{{donation.timestamp | date: 'MM/dd/yyyy'}}</td>

            <!-- First Name -->
            <td>{{donation.first_name}}</td>

            <!-- Last Name -->
            <td>{{donation.last_name}}</td>

            <!-- Address -->
            <td>{{donation.address}}</td>

            <!-- City -->
            <td>{{donation.city}}</td>

            <!-- State -->
            <td>{{donation.state}}</td>

            <!-- Zip -->
             <!--<td>{{donation.postal_code}}</td>-->

            <!-- Email -->
            <!--<td>{{donation.email}}</td> -->

             <!--Telephone -->
            <td>{{donation.phone_number}}</td>

            <!-- Organization Name -->
            <td>{{donation.org_name}}</td>

            <!-- Categories -->
            <td
              ng-repeat="category in fdc.driveCategories.list | filter: {food_drive: true}">
              {{donation.categories[category.id]}}
            </td>
            <!-- Edit -->
            <td>
              <!-- Not editable -->
              <span ng-if="!donation.editable">
                <button
                  type="button"
                  class="btn btn-primary"
                  ng-click="fdc.openModal('md', donation, 'Edit', fdc.driveCategories); fdc.toggleEditable(donation)">
                  <span class="glyphicon glyphicon-pencil"></span>
                </button>
                <button
                  type="button"
                  class="btn btn-danger"
                  ng-click="fdc.deleteDonation(donation)">
                  <delete-glyph boolean="donation.saving"></delete-glyph>
                </button>
              </span>

              <!-- Editable -->
              <span ng-if="donation.editable">
                <button
                  type="button"
                  class="btn btn-primary"
                  ng-click="fdc.editDonation(donation)">
                  <save-glyph boolean="donation.saving"></save-glyph>
                </button>
                <button
                  type="button"
                  class="btn btn-default"
                  ng-click="fdc.toggleEditable(donation)">
                  <span class="glyphicon glyphicon-remove"></span> Cancel
                </button>
              </span>
            </td>
          </tr>

          <!-- Totals -->
          <tr ng-if="fdc.user.is_admin">
            <td colspan="7"></td>
            <td>Totals:</td>
            <td ng-repeat="category in fdc.driveCategories.list | filter: {food_drive: true}">
              <span>{{(filtered | mergeCategories)[category.id]}}</span>
            </td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
