<div ng-controller="NavController as nc" id="navStyle">

<img src="/resources/CCEFS-Logo-ReverseWhite.png" id="logo">  
<div class="dropdown">
  <button class="dropbtn">Inbound</button>
  <div class="dropdown-content">
    <a href="#foodRescue">Food Rescue</a>
    <a href="#foodDrive">Food Drive</a>
  </div>
</div>

<div class="dropdown">
  <button class="dropbtn">Outbound</button>
  <div class="dropdown-content">
    <a href="#">Distribution</a>
    <a href="#">Sub Distribution</a>
  </div>
</div>

<div class="dropdown">
  <button class="dropbtn">Admin</button>
  <div class="dropdown-content">
    <a href="#">Reports</a>
    <a href="#">Users</a>
  </div>
</div>

<button ng-click="nc.logOut()">Log Out</button>
</div>
