<div ng-controller="NavController as nc" id="navStyle">

<img src="/resources/CCEFS-Logo-ReverseWhite.png" id="logo">

<div class="dropdown">
  <button class="dropbtn">Inbound</button>
  <div class="dropdown-content">
    <a href="#foodRescue">Food Rescue</a>
    <a href="#foodDrive">Food Drive</a>
  </div>
</div>

<div class="dropdown">
  <button class="dropbtn">Outbound</button>
  <div class="dropdown-content">
    <a href="#dailyDistribution">Distribution</a>
    <a href="#subDistribution">Sub Distribution</a>
  </div>
</div>

<div class="dropdown">
  <button class="dropbtn">Admin</button>
  <div class="dropdown-content">
    <a href="#">Reports</a>
    <a href="#categories">Categories</a>
    <a href="#users">Users</a>
  </div>
</div>

<button ng-click="nc.logOut()" id="logOutButton">Log Out</button>
</div>
